@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: white;
  --color-text-color: black;
  --color-text-price-color: D0011B;
  --text-28: 1.75rem;
  --gap-my: 60px;
}

.head {
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  margin: 70px;
}

.body {
  font-family: "Roboto", sans-serif;
}

ul li {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  padding: 30px;

}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  width: 216px;
  display: flex;
  justify-content: center;
}

.sale {
  color: #cc0000 !important;
  text-transform: uppercase;
}

.catalog {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

.card {
  font-family: "Roboto", sans-serif;
  width: 415px;
  padding: 0 21px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  opacity: 1;
  margin-top: 0px;
  vertical-align: top;
  font-size: 13px;
}

.card-img {
  width: 100%;
  height: 500px;
  aspect-ratio: 2;
  object-fit: cover;
}

.title-card {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  padding: 5px 0 15px;
}

.price-wrapper {
  margin: 0px;
}

.current-price {
  margin: 10px;
}