@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: white;
  --color-text-color: black;
  --color-text-price-color: D0011B;
  --text-28: 1.75rem;
  --gap-my: 60px;
}


.head {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 70px;
}

.body {
  font-family: "Roboto", sans-serif;
}


ul.head-text li {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: inline;
  text-transform: uppercase;
  padding: 30px;
  list-style: none;
}

ul.head-text {
  list-style: none;
  padding: 0;
}

.logo {
  width: 216px;
  padding: 20px;
  text-align: center;
}

.sale {
  color: #cc0000 !important;
  text-transform: uppercase;
}

.catalog {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /*  padding: 0 10px; */
}

.card {
  font-family: "Roboto", sans-serif;
  width: 371px;
  padding: 0 21px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  opacity: 1;
  margin-top: 0px;
  vertical-align: top;
  font-size: 13px;
}

.card-img {
  width: 100%;
  height: 500px;
  aspect-ratio: 2;
  object-fit: cover;
}

.title-card {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  padding: 5px 0 15px;
}

.price-wrapper {
  margin: 0px;
}

.current-price {
  margin: 10px;
}



/*---------------------карточка товара покупка------------------*/

.breadcrumb {
  width: 960px;
  margin: 0 0px 20px;
}

ul.breadcrumb {
  list-style: none;
  font-size: 12px;
}

ul.breadcrumb li {
  display: inline;
}

.breadcrumb-item {
  color: #727272;
}

ul.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

.breadcrumb-item.active {
  color: #000000;
}

.shopping {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 990px;
  min-height: 1px;
  padding: 0 15px;
}

.photo-slider {
  width: 98px;
  padding: 0 15px;

}

.img-shop {
  width: 455px;
  padding: 0 15px;

}

.sticky {
  position: sticky;
  top: 160px;
  width: 412px;
  padding: 0 15px;
}

.text-shop {
  color: #1a1a1a;
  font-size: 16px;
  letter-spacing: 0.9px;
  text-align: left;
  text-transform: initial;
  font-weight: 500;
  padding: 0;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.2;
}




/*---------------------формы--------------------*/

.form__item input {
  border: black 1px solid;
  background-color: lavender;
  color: black;
  padding: 10px;
  transition: 0.3s;
}

.form__item input:hover, :focus {
  box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.418);
  transition: 0.3s;
}

.form__item input:disabled:hover,
.form__item input:disabled:focus {
outline: none;
box-shadow: none;
}

/* .form__item input[type=submit] {
  background-color: black;
  color: white;
} */

.form__item .form__btn {
  background-color: black;
  color: white;
}


.form__item input[type=text]:valid {
  border-color: #033118;
  background-color: #65d4af;
}

.form__item input[type=text]:invalid {
  border-color: #420808;
  background-color: #d49999;
}

.form__item input[type=text]:invalid::after {
  content: "-";
  color: red;
}

.form__item .color-radio {
/*  appearance: auto;
  accent-color: gray;
  width: 20px;
  height: 20px; */
  display: none;
}

.color-label {
  display: block;
  width: 20px;
  height: 20px;
  border: black 1px solid;
  transition: 0.3s;
}

.color-radio:checked+.color-label {
  outline: gray 2px solid;
  outline-offset: 3px;
}

.filter-color {
  display: flex;
  flex-direction: column;
  gap: 10px;
}